%head
  %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %title RedMagic
  %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
  = csrf_meta_tags
  = csp_meta_tag
  = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"
  = stylesheet_link_tag "application", "data-turbo-track": "reload"
  = javascript_importmap_tags
%body
  %main.container.mx-auto.mt-28.px-5.flex
    - if user_signed_in?
      %form.sign-out-form{:action => destroy_user_session_path, :method => "post"}
        = hidden_field_tag :_method, :delete
        = submit_tag 'Sign out'
    - else
      = link_to 'Sign in', new_user_session_path
    = yield
