%head
  %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %title RedMagic
  %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
  = action_cable_meta_tag
  = csrf_meta_tags
  = csp_meta_tag
  %script{ src: "https://cdn.tailwindcss.com" }
  = stylesheet_link_tag "application", "data-turbo-track": "reload"
  = javascript_importmap_tags
%body
  %nav.bg-red-500.py-4.px-8.flex.justify-between.items-center
    .flex
      .text-xl.text-white.font-bold
        RED MAGIC
      %ul.flex.items-center.space-x-4
        %li
          = tailwind_link_to 'Podcasts', podcasts_path
    %ul.flex.items-center.space-x-4
      -# FIXME Sign out button makes navbar wider because of form
      - if current_user.present?
        %li
          = tailwind_link_to 'Sign out', destroy_user_session_path, method: :delete, confirm: 'Wanna quit?'
      - else
        %li
          = tailwind_link_to 'Sign In', new_user_session_path
  .container.mx-auto.p-4
    = yield
